




#fullpage{
  .container-top---in{
    @include breakpoint(mobile){
      padding:10px;
  }
  }
}






#header-bar{
  /* padding:10px 0;*/
  position: fixed;
  z-index:150;
  /*height:25px;*/
  top: 0;
  width: 100%;
  z-index: 10000;
}
  
.sub-menu {
  display: none;
  position:absolute;
  z-index:100;
}

.sub-menu li{
  float:none;
  width:100%;
  padding:5px 7.619% 0 7.619%;
  margin:0;
  background:#fff;
  border-bottom:1px solid #e8e8e8;
}

.sub-menu li:last-child{
  border:none;
}


.sub-menu li a{
  color:#000;
  text-decoration:underline;
  font-size:14px;
}

.sub-menu li a:hover{
  color:#000;
}

.sub-menu {
  display: none;
  position:absolute;
  z-index:100;
  width:10.5%;
}

.accordion_nav .sub-menu li{
  float:none;
  width:100%;
  padding:0;
  margin:0;
  background:#000;
  border-bottom:1px solid #e8e8e8;
}

.accordion_nav .sub-menu li:last-child{
  border:none;
}


.accordion_nav .sub-menu li a{
  border:none;
  font-size:14px;
}

.accordion_nav  .sub-menu li a:hover{
  border:none;
}



.toggle_nav{
  cursor:pointer;
}



#slide_menu{


  position: fixed;
  /*top: 45px;*/
  left: -280px;
  width: 280px;
  height: 100%;
  z-index:151;
  background: #333;

}

#slide_menu a:hover{
  color:#000;
  background:fff;
  text-decoration:none;
}

#slide_menu ul{
  list-style:none;
  margin:0;
}

#slide_menu li{
  color:#a3a3a3;
}

#slide_menu li a{
  color:#fff;
  text-decoration:none;
}


#navToggle {
  position:absolute; /*bodyに対しての絶対位置指定です*/
  left:13px;
  top:300px;
  width:30px;
  height:20px;
  z-index: 1000;
  cursor:pointer
}

#navToggle div {position:relative} /*spanの絶対位置指定の親にします*/
#navToggle span {
  display:block;
  position:absolute; /*#navToggle div に対して*/
  width:100%;
  border-bottom:solid 2px #000;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}
#navToggle span:nth-child(1) {top:0}
#navToggle span:nth-child(2) {top:7px}
#navToggle span:nth-child(3) {top:14px}


#slide_menu{
  overflow-y:scroll;
}

.sub-menu {
  position:static;
  width:100%;
}

#slide_menu li a{
  padding:20px;
  display:block;
}

#slide_menu .sub-menu li{
  font-size:12px;
  border-bottom:1px solid #fff;
  width:100%;
}

#slide_menu .sub-menu li a{
  display:block;
}
  
#slide_menu .sub-menu li a:hover{
  background:#000;
  color:#fff;
}

#slide_menu .sub-menu li:last-child{
  border-bottom:none;
}


.open #navToggle span:nth-child(1) {
  top:7px;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  transform:rotate(-45deg);
}
.open #navToggle span:nth-child(2) {opacity: 0;}
.open #navToggle span:nth-child(3) {
  top: 7px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  transform:rotate(45deg)
}

#slide_menu .sub-menu li a{
  padding:10px 0 10px 25px;
  color:#ccc;
}


//メイン
////////////////////////////////////////////////////

.fp-tableCell{
  @include breakpoint(mobile){
   // vertical-align: top !important;

  }
}

.top-sp-img{
  display: none;

  @include breakpoint(mobile){
    display: block;
 
   }

   img{
     
    @include breakpoint(mobile){
      width: 100%;
     }
   }

}

//サイドナビゲーション
////////////////////////////////////////////////////

#fp-nav{
  @include breakpoint(mobile){
    display: none !important;
  }
}

#fp-nav.left{
  left: 0 !important;
  display: none;
}

#fp-nav ul li, .fp-slidesNav ul li {
  display: block;
  width: 6px;
  height: 17px !important;
  margin: 0px !important; 
  position: relative;
}

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: 0 !important;
  border-radius: 100%;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #ddd !important;
  left: 20%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#fp-nav ul li .fp-tooltip{
  top: 4px !important;
  font-size: 12px !important;
}

#fp-nav{
  ul{
    li{
      a{
        span{
          border-radius:0 !important;
          height: 10px !important;
          width: 6px !important;

        }
      }
    }
  }
}

#fp-nav ul li a.active span{
  width: 10px !important;
  background: #000 !important;
}

#fp-nav ul li .fp-tooltip {
  opacity: 0.1;
}





//.sec1共通
////////////////////////////////////////////////////

.section {
  h2 {
    margin: 0;
    padding: 0;
    font-size: 3.75rem;
    font-weight: 900;
  }

  h3 {
    color:#fff;
    margin: 0;
    padding: 0;
    font-size: 1.875rem;
  }

  h4 {
    margin: 0;
    padding: 0;
    font-size: 1.375rem;
  }

  p {
    margin: 0;
    padding: 0;
  }
}

.sec1{
 

  .container1 {
    padding-left: 20px;

    @include breakpoint(mobile){
      width: $width_80;
    }

    h2 {
      color:#fff;

      @include breakpoint(mobile){
        font-size: 2rem;
      }
    }

    h3 {
      margin-top: 30px;
      font-weight: 900;
      font-size: 1.6rem;
    }
  }
  
}


.fp-viewing-section1{
  #masthead{
    //  background: unset !important;
     a{
     // color: #fff!important;
     }
     
  }
}


//.sec2以下共通
////////////////////////////////////////////////////

//fontsize

// .section{
//   p{
//     font-size: 0.8rem;
//   }
// }

// ABOUT 

.sec2 .fp-tableCell {

  .container-top---in{
    

    position: relative;
    top: -40px;

      span{
        display: block;

        @include breakpoint(mobile){
          display: inline;
       }

      }
  }

}

/*

.sec3 .fp-tableCell{

  .container-top---in{
  


     

      span{
        display: inline-block;

        @include breakpoint(mobile){
          display: inline;
       }

      }
  }

}

*/


.sec2 .fp-tableCell , .sec3 .fp-tableCell{
  @include breakpoint(mobile){
    vertical-align: top !important;

  }


.container-top-in{
  width: 50%;
  background: #fff;

  @include breakpoint(mobile){
    width: 100%;
  }
  .container-top--in{
     padding: 0px 0px 0px 150px;

     @include breakpoint(mobile){
      padding: 0px 0px 0px 0px;
    }


     h2{
       line-height: 1;
     }

     span{
       color: #000;
     }

  }

 
  
}

.container-top---in_bottom{
  margin: 50px 0px 50px;

  @include breakpoint(mobile){
    margin:  0px 0px 50px;
  }

}

// .link_company{
//   margin: 50px 0px 0px;
// }



// NEWS







//共通終了
////////////////////////////////////////////////////





.sec2{
//  background-image: url('../images/bg_2.png');
  background-size: cover;
  background-position: center;

  @include breakpoint(mobile){
    background-image:unset;

  }
  
  
  }

  .container-mod2 {
  //  padding-left: 50px;

    h2 {
      display: inline-block;
      color:#000;
     
      .color_FFA830 {
        color: #FFA830;
      }

      .sub_title {
        font-size: 1rem;
        font-weight: normal;
      }
    }

    span{
      font-size: 0.8rem;
    }

    h4 {
      margin: 20px 0;
    }

    p {
      color: #000;
      font-weight: normal;
     
  
    }

    // .link_company {
    //   display: inline-block;
    //   border: 1px solid #000;
    //   margin-top: 50px;

    //   a {
    //     display: block;
    //     text-decoration: none;
    //     color: #000;
    //     padding: 30px 100px;
    //   }
    // }
  }
}


////////////////////////////////////
//service

.sec2{
  // background:#eb8a00;
 // background-image: url('../images/bg_2.png');
  background-size: cover;

  @include breakpoint(mobile){
    background-image:unset;
    margin-top: 80px;

  }
}



.sec3{
  // background:#eb8a00;
 // background-image: url('../images/bg_3.png');
  background-size: cover;
}




.sec4{
  // background:#eb4800;
//  background-image: url('../images/bg_4.png');
  background-size: cover;
}


.sec5{
  // background:#eb4800;
//  background-image: url('../images/bg_5.png');
  background-size: cover;
}

.sec6{
  // background:#eb4800;
//  background-image: url('../images/bg_6.png');
  background-size: cover;
}

.sec7{
  // background:#eb4800;
 // background-image: url('../images/bg_7_1.png');
  background-size: cover;
}

.sec8{
  // background:#eb4800;
//  background-image: url('../images/bg_8.png');
  background-size: cover;
}

.sec9 {

  div.contact {
    display: flex;
    background-color: $font_gray;
    }
}

.fp-viewing-section9{
  #masthead{
     display: none;
  }

  #fp-nav{
    display: none !important;
  }
  

  footer {

    .footer-top {
      background-color: $font_black;
    }
    .footer-middle {
      background-color: $font_white;
    }
    .footer-bottom {
      background-color: $font_black;
    }
  }

}





/*
#side-bar{
  width: 100px;
}

.fullpage-wrapper{
  width:calc(100% - 100px);
}
*/